@charset "utf-8"
    
/* 스킵 네비게이션*/
#skip {position: relative;}
#skip a {position: absolute; left: 0; top: -35px; border: solid 1px #fff; color: #fff; background: #333; line-height: 30px; width: 180px; text-align: center; }
#skip a:focus  {top: 0px; }
#skip a:hover  {color: red; transition: color 0.5s}

body {} 
#wrap {}
#header {height: 320px; background: url(../img/header_bg.jpg) center  repeat-x; }
#contents {}
#footer {height: 200px; background-color: #333;}

#cont_nav {background: #f6fdff;}
#cont_tit {background: #eaf7fd;}
#cont_ban {background: #dceff7;}
#cont_cont {background: #f6fdff;}

.container {width: 990px; margin: 0 auto; height: inherit; } 


/* 헤더 */
.header .header_menu {text-align: right;}
.header .header_menu a {color: #fff; padding: 5px 10px; display: inline-block; margin: 0;}
.header .header_menu a:hover {color: #aaaaaa; transition: color 0.5s;}
.header .header_tit {text-align: center;}
.header .header_tit h1 {background-color: #4aa8d4; font-size: 24px; padding: 5px 20px 8px 20px; display: inline-block; color: #fff; margin-top: 30px; font-weight: normal; text-transform: uppercase;}
.header .header_tit a {display: inline-block; color: #fff; background-color: #2698cb; font-size: 18px; padding: 5px 20px 8px 20px; margin-top: -5px;}

.header .header_icon {text-align: center; margin: 30px;}
.header .header_icon a {width: 60px; height: 60px; background: url(../img/icon.png); margin: 0 3px; display: inline-block;}
.header .header_icon a.icon1 {background-position: 0 0;}
.header .header_icon a.icon2 {background-position: 0 -60px;}
.header .header_icon a.icon3 {background-position: 0 -120px;}
.header .header_icon a.icon4 {background-position: 0 -180px;}

.header .header_icon a.icon1:hover {background-position: -60px 0;}
.header .header_icon a.icon2:hover {background-position: -60px -60px;}
.header .header_icon a.icon3:hover {background-position: -60px -120px;}
.header .header_icon a.icon4:hover {background-position: -60px -180px;}

/* 전체 메뉴 */
.nav {overflow: hidden; padding: 30px 0;}
.nav > div {float: left; width: 40%;}
.nav > div:last-child {width: 20%;} 
.nav > div.last {width: 20%;}
.nav > div h3 {font-size: 18px; color: #25a2d0; margin-bottom: 4px;}
.nav > div ol  {overflow: hidden;}
.nav > div ol li {width: 50%; float: left;}
.nav > div.last ol li {width: 100%;} 
.nav > div ol li a:hover {text-decoration: underline;}

/* 타이틀 */
.tit {position: relative;}
.tit > h2 {font-size: 40px; text-align: center; padding: 5px 0; letter-spacing: 2px; color: #2c94c4; font-family: 'Nanum Brush Script', cursive;}
.tit > .btn {position: absolute; top: 5px; right: 0; width: 60px; height: 60px; background: url(../img/icon.png) 0 -600px;}

/* 배너 */
.ban {position: relative; padding: 24px 0 20px;}
.ban > a {position: absolute; top: 63px; width: 43px; height: 43px;}
.ban > a.prev {left: -70px; background: url(../img/icon.png) -150px 0;}
.ban > a.next {right: -70px; background: url(../img/icon.png) -150px -43px;}

.ban > a.prev:hover {background: url(../img/icon.png) -193px 0;}
.ban > a.next:hover {background: url(../img/icon.png) -193px -43px;}


.ban ul {overflow: hidden;}
.ban ul li {float:left; width: 330px;}
.ban ul li.ban_img1 {text-align: left;}
.ban ul li.ban_img2 {text-align: center;}
.ban ul li.ban_img3 {text-align: right;} 
.ban ul li img {border: 4px solid #dcdcdc;}
.ban ul li img:hover {border-color: #98bcdc;}

/* 콘텐츠 */
.cont {overflow: hidden; padding-top: 30px;}
.cont .column {float: left; width: 289px; height: 363px; background: #ccc; margin: 0 30px 30px 0; padding-right: 30px;}
.cont .column:nth-child(3n) {margin-right: 0; padding-right: 0;}
.cont .col1 {}
.cont .col2 {}
.cont .col3 {}
.cont .col4 {}
.cont .col5 {}
.cont .col6 {}
